body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-general {
    width: 1200px;
    margin: 0 auto;
}


.cabecera {
    width: 100%;
    background-color: #090dff;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.cabecera h1 {
    font-size: 2.5em;
    margin: 0;
}


.menu {
    background-color: #048eff;
    padding: 10px;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin: 0 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}


.contenido {
    display: flex;
    margin: 20px 0;
    
        display: flex;
        margin: 20px 0;
        flex-direction: row-reverse; /* Mueve la barra lateral al lado contrario */
        
}


.contenido-principal {
    width: 70%;
    padding-right: 20px;
}

.cuadricula {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cuadricula .caja {
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
}


.barra-lateral {
    width: 30%;
    background-color: #f0f0f0;
    padding: 20px;
}


.pie {
    width: 100%;
    background-color: #0004ff;
    color: white;
    text-align: center;
    padding: 10px 0;
}
